$primaryColor: gray;

h2 {
  color: red;

  span {
    color: blue;
  }
}

ul {
  list-style: none;
}

li {
  cursor: pointer;

  &.done {
    text-decoration: line-through;
  }
}

span {
  transition: all 0.5s;
  color: red;
  opacity: 1;

  &.hidden {
    display: none;
    opacity: 0;
  }
}
